:root{
    --DarkGrey: #282828;
    --DarkBlue: #141922;
    --LightGrey: #717179;
    --Green: #ADFF2F;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* outline: 1px solid red; */
}


/* Structure */

.f-container{
    display: flex;
}

.aside{
    height: calc(100vh - 100px);
    width: 268px;
    background-color: #000000;
    z-index: 20;
    color: var(--LightGrey);
    overflow-y: hidden;
}

.wrapper{
    background-color: #141922;
    overflow-y: scroll;
    width: calc(100% - 267px);
    height: calc(100vh - 100px);
}

header{
    height: 100px;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: flex-end;
    z-index: 80;
}

main{
    width: 100%;
    background-color: #141922;
    padding: 20px;
    color: rgb(204, 204, 204);
}

footer{
    width: 100vw;
    height: 100px;
    background-color: #282828;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 90;
    overflow-x: hidden;
}

/* Cummon Classes */

.pad-bot-top{
    padding: 20px 0;
}

.pad-bot{
    padding-bottom: 20px;
}

.mar-bot-20{
    margin-bottom: 20px;
}

.color-white, .hover-color-white:hover{
    color: white;
}

.hover-color-white:hover{
    cursor: pointer;
}


.spacer{
    width: 80%;
    border-bottom: 1px solid var(--LightGrey);
    margin: 10px 0;
}

/* Header */

.upgrade-button{
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
    border: 1px solid var(--LightGrey);
    display: inline-block;
    align-self: center;
    transition: .5s;
    margin-right: 20px;
    text-transform: uppercase;
}

.upgrade-button:hover{
    transform: scale(1.10);
}

/* Sidebar */

.big-logo{
    width: 70%;
    margin: 0 auto 10px 10px;
    display: block;
    padding: 20px;
}

.small-logo{
    width: 60%;
    margin: 20px auto;
    display: none;
}

.aside-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100% - 95.25px);
}

.aside-up>ul{
    list-style: none;
    margin-bottom: 20px;
}

.aside-up>ul>li{
    display: flex;
    width: 100%;
    padding: 10px 20px;
    gap: 10px;
    align-items: center;
}

.aside-icon{
    width: 12%;
}

.li-active{
    border-left: 3px solid var(--Green);
}

.li-no-active{
    border-left: 3px solid black;
}

.li-no-active:hover{
    border-left-color: #ADFF2F;
}

.aside-playlist{
    padding-left: 23px;
}

.add-playlist:hover{
    color: white;
    cursor: pointer;
}


.aside-playlist>strong{
    display: inline-block;
    margin-bottom: 10px;
}

.fa-solid.fa-plus{
    padding: 15px;
    color: #000000;
    background-color: #A3A3A3;
}

.add-playlist>*{
    display: inline-block;
    margin-right: 10px;
}

.playlist-list{
    list-style: none;
    max-height: 25vh;
    min-height: 10vh;
    overflow-y: scroll;
}

.playlist-list>li{
    margin-bottom: 10px;
    font-size: .8rem;
}

.aside-bot{
    padding-left: 23px;
}

.download-app{
    display: flex;
    align-items: center;
    gap: 10px;
}

.download-app>img{
    width: 10%;
}

.profile{
    display: flex;
    color: white;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.profile>img{
    width: 25%;
    border-radius: 50%;
}

/* Main */

.playlist-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card{
    width: calc(100% / 6 - 15px);
    text-align: center;
}

.card:hover .hover-play{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container>img{
    width: 100%;
    display: block;
}

.img-container{
    position: relative;
}

.hover-play{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.crop{
    border-radius: 50%;
}

.card>*{
    display: block;
    margin-bottom: 10px;
}

.card>strong{
    color: white;
}

.card>span{
    font-size: .8rem;
}

main i{
    color: white;
}

main>section>h2{
    font-size: 1.5;
    margin-bottom: 20px;
    font-weight: 800;
}

main>section>span{
    font-size: .8rem;
    margin-bottom: 20px;
    display: block;
}

/* Nav-Main */

.main-nav{
    width: 80%;
    margin: 0 auto;
}

.main-nav ul{
    list-style: none;
    text-align: center;
}

.main-nav li{
    display: inline-block;
    margin: 0 10px;
    font-size: 1rem;
    text-align: center;
    position: relative;
    line-height: 40px;
}

.main-nav li a{
    text-decoration: none;
    color: var(--LightGrey);
    text-transform: uppercase;
}

.main-nav li a:hover{
    color: white;
}

.main-nav li a:hover::after{
    visibility: visible;
}

.main-nav li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 20%;
    right: 20%;
    height: 2px;
    display: block;
    z-index: 99;
    background-color: var(--Green);
    visibility: hidden;
}

/* Footer */

footer>section{
    height: 100%;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.now-playing{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

.now-playing>img{
    /* width: 80px; */
    width: 15%;
    max-width: 90px;
}

.n-playing-text>*{
    display: block;
}

.n-playing-text>span, .settings>i{
    color: var(--LightGrey);
}

.settings>i{
    color: white;
}

.active-volume::after, .player-bar-active::after{
    content: "";
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: white;
    display: none;
    position: absolute;
    right: 0;
    transform: translateY(-3px);
}

.volume:hover .active-volume{
    background-color: var(--Green);
}

.volume:hover .active-volume::after{
    display: block;
}

.playing-icons>i{
    color: var(--LightGrey);
    display: inline-block;
    margin-right: 5px;
}

.settings{
    display: flex;
    gap: 15px;
    padding-right: 20px;
    align-items: center;
    width: 20%;
    justify-content: flex-end;
}

.volume{
    width: 8vw;
    background-color: var(--LightGrey);
    height: 0.4rem;
    border-radius: 10px;
    position: relative;
}

.active-volume{
    position: absolute;
    left: 0;
    top: 0;
    width: 2vw;
    height: 0.4rem;
    background-color: white;
    border-radius: 10px;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-width: 200px;
    width: 60%;
}

.player-top{
    display: flex;
    gap: 15px;
    justify-content: space-around;
    flex-shrink: 1;
}

.player-top>i{
    font-size: 25px;
    color: white;
}

.player-bot{
    display: flex;
    gap: 20px;
    align-items: center;
}

.player-bot>span{
    color: white;
}

.player-bar{
    width: 35vw;
    height: 0.5rem;
    border-radius: 10px;
    background-color: var(--LightGrey);
    position: relative;
}

.player-bar-active{
    width: 10vw;
    height: 0.5rem;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    left: 0;
}

.player-bar:hover .player-bar-active{
    background-color: var(--Green);
}

.player-bar:hover .player-bar-active::after{
    display: block;
}

/* Scroll bar */

::-webkit-scrollbar {
    width: 5px;
}
  
  
::-webkit-scrollbar-track {
    border-radius: 10px;
}
   
  
::-webkit-scrollbar-thumb {
    background: var(--LightGrey); 
    border-radius: 10px;
}
  


/* Responsive */

@media all and (max-width: 1100px){
    
    .card{
        width: calc(100% / 4 - 15px);
    } 

    .player-bar{
        width: 20vw;
    }
    
    .player-bar-active{
        width: 5vw;   
    }

    .settings{
        gap: 3px;
        padding-right: 0;
    }

    .now-playing{
        gap: 5px;
        padding-left: 0px;
    }
}

@media all and (max-width: 701px){
    
    .card{
        width: calc(100% / 2 - 15px);
    } 
}

@media all and (max-width: 601px){
    
    .aside-up>ul>li>div{
        display: none;
    }

    .li-no-active, .li-active{
        border: none;
    }

    .aside-icon{
        width: 90%;
    }

    .aside{
        /* min-width: 80; */
        width: 80px;
    }

    .wrapper{
        width: calc(100% - 80px);
    }

    .small-logo{
        display: block;
    }

    .big-logo{
        display: none;
    }

    .aside-playlist{
        display: none;
    }

    .download-app>span, .profile>strong, .spacer{
        display: none;
    }

    .download-app>img{
        width: 50%;
        margin: 10px;
        transform: translateX(-5px);
    }

    .profile>img{
        width: 70%;
    }

    .aside-bot{
        padding-left: 15px;
    }

    .playing-icons>i{
        display: block;
        margin-bottom: 10px;
    }

    .n-playing-text>strong{
        font-size: 12px;
    }

    .n-playing-text>span{
        font-size: 10px;
    }

    
}